@import "../css/styles.css";

.product-form-container {
  display: flex;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c9e6c42d;
  padding: 3rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 1rem;
}

.product-form > label:not(:first-child) {
  padding-top: 1rem;
}

.product-form input {
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.26);
}

.add-product-submit {
  margin-top: 1rem;
}
